#Head {
background: #433128;
color: #fff;
}
.NewDiscussion {
display: inline;
}
.H {
margin-top: 18px;
}
.sinmargen {
padding: 0;
margin: 0;
border: 0;
}
.BreadcrumbsWrapper {
margin-bottom: 5px;
}
.Row {
position: relative;
}
.reloj {
position: absolute;
top: 40px;
left: 114px;
color: #b5c502;
text-shadow: 2px 2px #3f2d23;
}
#forosprovinciales {
font-family: 'lucida grande','Lucida Sans Unicode',tahoma,sans-serif;
}

